/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

@import "../../.cache/wal/colors-kreato.css";

/* Reset all styles */

#workspaces button.focused {
    color: #81a1c1;
}

* {
    border: 1px;
    /*border-radius: 5;*/
    padding: 0 0;
    font-family:"NotoSans Nerd Font";
    font-size: 15px;
    margin-right: 2px;
    margin-left: 2px;
    padding-bottom:2px;
   }

window#waybar {
    background:#2e3440;
    background-color: @background;
}

#workspaces button {
    /*color: #eceff4;*/
    padding: 2px 8px;
    /*border-bottom: 2px; */
    color: #d8dee9;
    /*border-style: solid;*/
    margin-top:5px;
}


#mode {
    color: #ebcb8b;
}

#clock, #battery, #cpu, #memory,#idle_inhibitor, #temperature,#custom-keyboard-layout, #backlight, #network, #pulseaudio, #mode, #tray, #window,#custom-launcher,#custom-power,#custom-pacman, #custom-network_traffic {
    color: #eceff4;
    padding: 2px 8px;
    border-radius: 4px;
    margin: 6px 3px;
    padding: 6px 12px;
    margin: 5px;
}

#clock, #battery, #cpu, #memory,#idle_inhibitor, #temperature,#custom-keyboard-layout, #backlight, #network, #pulseaudio, #mode, #tray, #window,#custom-power,#custom-pacman, #custom-network_traffic {
    background-color: rgba(37, 37, 37, 0.5); 
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

 
#clock {
 color: #a3be8c;
}

#custom-pacman{
	color: #ebcb8b
}

#backlight {
    color: #ebcb8b;
}

#battery {
    color: #d8dee9;
}

#battery.charging {
    color: #81a1c1;
}

@keyframes blink {
    to {
        color: #4c566a;
        background-color: #eceff4;
    }
}

#battery.critical:not(.charging) {
    background: #bf616a;
    color: #eceff4;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    color:#a3be8c;
    border-radius: 4px;
    margin: 6px 3px;
    padding: 6px 12px;
}

#memory {
    color: #b48ead;
    border-radius: 4px;
    margin: 6px 3px;
    padding: 6px 12px;
}

#network.disabled {
    color:#bf616a;
}

#network{
    color:#81a1c1;
}

#network.disconnected {
    color: #bf616a;
}

#pulseaudio {
    color: #b48ead;
}

#pulseaudio.muted {
    color: #3b4252;
}

#temperature {
    color: #8fbcbb;
}

#temperature.critical {
    color: #bf616a;
}

#idle_inhibitor {
   color: #81a1c1;
}

#tray {
  color: #181825;
}

#custom-power{
    border-style: hidden;
}

#custom-launcher{
    margin-top: 5px;
    background: rgba(0, 0, 0, 0.6);
}

#window{
    border-style: hidden;
    margin: 5px;
}    
#mode{
    margin-bottom:3px;
}

#custom-keyboard-layout{
   color:#d08770;
}

#workspaces button:hover {
  background: rgba(37, 37, 37, 0.5);
  text-shadow: none;
  box-shadow: none;
}
